* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.app {
  position: relative;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}
.spn {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  transition: all 0.1s ease-in-out ;
  text-align: center;
}
.spn span:nth-child(1) {
  background: #fff;
  
  width: 60px;
  height: 5px;

  margin: 7px 7px;
  transition: all 0.1s ease-in-out ;
  transition-delay: 0.5s;
}
.spn span:nth-child(2) {
  background: #fff;
  
  width: 60px;
  height: 5px;

  margin: 7px 7px;
  transition: all 0.1s ease-in-out ;
  transition-delay: 0.6s;
}
.spn span:nth-child(3) {
  background: #fff;
  
  width: 60px;
  height: 5px;

  margin: 7px 7px;
  transition: all 0.1s ease-in-out ;
  transition-delay: 0.7s;
}
.burgerbtn.open .spn span:nth-child(1) {

transition-delay: 0.1s;

  width: 0px;
  background: none;
}
.burgerbtn.open .spn span:nth-child(2) {
 
width: 0px;
transition-delay: 0.2s;

}
.burgerbtn.open .spn span:nth-child(3) {
  
  transition-delay: 0.3s;
width: 0px;
background: none;
}

/* cross */
.spn2 {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  transition: all 0.1s ease-in-out ;
  text-align: center;
  position: absolute;
  top: -50%;
}
.spn2 span:nth-child(1) {
  background: #fff;
  
  width: 0px;
  height: 5px;
  
  margin: 7px 7px;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;

}
.spn2 span:nth-child(2) {
  background: #fff;
  
  width: 0px;
  height: 5px;
  
  margin: 7px 7px;
  transition: all 0.1s ease-in-out;
  transition-delay: 0.25s;

}
.spn2 span:nth-child(1) {
  transform: rotate(45deg) translateY(-30px) translateX(-10px);
  transform-origin: left;
  position: absolute;
  top: 0;
 
}
.spn2 span:nth-child(2) {
  transform: rotate(-45deg) translateY(15px) translateX(5px);
  transform-origin: left;
}
.burgerbtn.open .spn2 span:nth-child(1) {
  width: 50px;
  transition-delay: 0.5s;
}
.burgerbtn.open .spn2 span:nth-child(2) {
  width: 50px;
  transition-delay: 0.6s;
}
.cross {
  position: absolute;
  top: 0%;
}

.burgerbtn {
  display: flex;
  position: relative;
  align-items: center;
  width: 100px;
  height: 100px;
  justify-content: center;
 border: 2px solid white;

 cursor: pointer;
}


